.footer-container{
    width: 100%;
    background-color: #222831;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding-bottom: 50px;
}
.logo{
    width: 200px;
    height: 200px;
}
.footer-description{
    color: rgba(238, 238, 238, 0.75);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width:50%;
    text-align: justify;
}
.footer-heading{
    color: #00ADB5;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.socials{
    width: 480px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.social{
    text-decoration: none;
    display: flex;
    width: 38px;
    height: 38px;
    padding: 12px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background: var(--Color-2, #393E46);
    color: #EEEEEEBF;
    font-size: 24px;
    transition: all 0.5s;
}
.social:hover{
    background-color: #00ADB5;
}
@media only screen and (max-width:768px) {
.logo{
    width: 180px;
    height: 180px;
}
.footer-description{
    font-size: 17px;
    width:60%;
}
.footer-heading{
    font-size: 22px;
    font-weight: 700;
}
.social{
    width: 36px;
    height: 36px;
    padding: 10px;
    font-size: 22px;
}
}
@media only screen and (max-width:600px) {
.logo{
    width: 160px;
    height: 160px;
}
.footer-description{
    font-size: 16px;
    width:70%;
}
.footer-heading{
    font-size: 20px;
    font-weight: 700;
}
.social{
    width: 32px;
    height: 32px;
    padding: 8px;
    font-size: 20px;
}
}
@media only screen and (max-width:500px) {
.logo{
    width: 140px;
    height: 140px;
}
.footer-description{
    font-size: 14px;
    width:80%;
}
.footer-heading{
    font-size: 18px;
    font-weight: 600;
}
.socials{
    width: 100%;
}
.social{
    width: 30px;
    height: 30px;
    padding: 7px;
    font-size: 18px;
}
}
@media only screen and (max-width:300px) {
    .socials{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}
.social{
    width: 28px;
    height: 28px;
    padding: 6px;
    font-size: 16px;
}
}