.skills-container{
    width: 100%;
    background-image: url("../../../public/doodleItems.png");
    background-color: #222831;
    background-repeat: repeat;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding-bottom: 50px;
    /* border-bottom: 1px solid rgba(238, 238, 238, 0.10); */
}
.section-heading{
    color: var(--Color-3, #EEE);
    font-family: Poppins;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}
.section-heading span{
    color: #00ADB5;
}
.skills{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.skill{
    width: calc(100% / 5);
    height: 100%;
    padding: 19px 9px ;
    border-radius: 16px;
    background: rgba(57, 62, 70, 0.50);
    backdrop-filter: blur(2px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}
.skill-icon{
    width: 120px;
    height: 120px;
}
.skill-title{
    color: var(--Color-3, #EEE);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
.skill-percentage{
    width: 80%;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.fill{
    width: 25px;
    height: 25px;
    background-color: #00ADB5;
    border-radius: 50px;
}
.empty{
    width: 25px;
    height: 25px;
    background-color: rgba(57, 62, 70, 0.95);
    border-radius: 50px;

}
@media only screen and (max-width:1200px) {
    .skill-title{
    font-size: 22px;
    font-weight: 700;
}
    .skill-percentage{
    width: 90%;
}
.section-heading{
    font-size: 60px;
    font-weight: 700;
}
}
@media only screen and (max-width:1000px) {
    .skill-percentage{
    width: 95%;
}
    .skill-title{
    font-size: 20px;
    font-weight: 700;
}
.section-heading{
    font-size: 56px;
    font-weight: 700;
}
}
@media only screen and (max-width:900px) {
    .skill{
    width: calc(100% / 4);
}
.skill-icon{
    width: 100px;
    height: 100px;
}
.section-heading{
    font-size: 52px;
    font-weight: 700;
}
}
@media only screen and (max-width:720px) {
    .skill{
    width: calc(100% / 3);
}
.skill-icon{
    width: 80px;
    height: 80px;
}
.section-heading{
    font-size: 48px;
    font-weight: 700;
}
}
@media only screen and (max-width:550px) {
    .skill{
    width: 200px;
}
    .skill-title{
    font-size: 18px;
    font-weight: 600;
}
    .skill-percentage{
    width: 80%;
}
.section-heading{
    font-size: 44px;
    font-weight: 600;
}
}